# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
calenv/
.venv/
venv/

# Alembic
migration/
alembic.ini

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# mypy
.mypy_cache/